<!DOCTYPE html>
<html>
  <head>
    <title>Comments Page</title>
    <link rel="stylesheet" href="styles/CSSreset.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/margin&padding.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="/comments-page/app.js"></script>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body id="app">
    <recipe-section
      title="Vlad can cook"
      author="Vlad Krasny"
      image="/images/mainPage/imageRow/01.jpg"
      subtitle="Short description"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum
              tempus viverra augue ac elit. Interdum libero at tristique fames
              faucibus. Massa a, consectetur et viverra vulputate urna enim
              felis metus."
      :likes="12"
      :comments="5"
    >
    </recipe-section>

    <recepies-section>
      <recipe-card
        v-for="r in recepies"
        :key="r.id"
        :title="r.title"
        :author="r.author"
        :text="r.text"
        :likes="r.likes"
        :comments="r.comments"
        :views="r.views"
        :image="r.image"
      ></recipe-card>
    </recepies-section>
    <comments-section :comments-number="comments.length">
      <comments-card
        v-for="c in comments"
        :key="c.id"
        :image="c.image"
        :author="c.author"
        :time="c.time"
        :text="c.text"
      ></comments-card>
    </comments-section>
  </body>
</html>
