/* body {
  font-family: nunito;
  background-color: #eeeaeb;
  padding-bottom: 1000px;
}
.main-page-container__navbar {
  height: 65px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-link__righr-part {
  display: flex;
  column-gap: 100px;
}
.navbar-link__left-part {
  display: flex;
  column-gap: 100px;
}
.navbar-items__logo {
  font-size: 24px;
  font-weight: bold;
}
.logo__right-part {
  color: #f7b602;
}

.navbar-items__link a {
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.navbar-items__search-field {
}
.navbar-items__search-field input {
  height: 35px;
  border-radius: 37px;
  border-width: 0px;
  background-color: #eeeeee;
  width: 381px;
}
.main-page-container__title {
  background-color: #1b1c20;
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title__left-part {
}
.left-part__title {
  font-size: 56px;
  font-weight: 800;
  color: white;
  width: 640px;
}
.left-part__buttom button {
  color: black;
  width: 230px;
  height: 48px;
  background-color: #f7b602;
  font-size: 20px;
  font-weight: 600;
  border-radius: 38px;
  border-width: 0px;
}
.title__right-part {
  height: 680px;
  width: 45%;
  overflow: hidden;
  position: relative;
}
.title__right-part img {
  height: auto;
  width: 100%;
  position: absolute;
  top: -400px;
  left: 200px;
}
.main-page-container__main {
  display: flex;
  flex-direction: column;
}
.main__title {
  display: flex;
  width: 1fr;
  justify-content: center;
  font-size: 36px;
  color: black;
  font-weight: 700;
}
.main__image-row {
  display: flex;
  justify-content: space-between;
}

.image-row__frame-with-picture {
  border-radius: 10px;
  background-color: white;
  width: 255px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame-with-picture__icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;

  font-size: 16px;
  color: #515151;
  vertical-align: middle;
}

.icon-text__text {
  font-size: 12px;
  color: #515151;
  font-weight: 400;
}

.frame-with-picture__image {
  width: 1fr;
  height: 215px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.frame-with-picture__image img {
  height: auto;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0px;
}

.frame-with-picture__image-base-set {
  width: 1fr;
  height: 215px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.frame-with-picture__image-base-set img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.title__title {
  font-size: 20px;
  font-weight: 600;
}
.title__author {
  color: #474747;
  font-size: 12px;
}
.frame-with-picture__footer {
  display: flex;
  justify-content: space-between;
}

.image-grid__images {
  display: flex;
  column-gap: 20px;
}
.images__left-part {
  display: flex;
  align-items: end;
  width: 540px;
  height: 540px;
  background-image: url(/images/mainPage/imageGrid/02.jpg);
  background-size: cover;
  background-position: 0px -120px;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
}

.left-part__text {
  width: fit-content;
  font-weight: 600px;
  font-size: 26px;
  background-color: white;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
.images__right-part {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 540px;
  height: 255px;
  background-image: url(/images/mainPage/imageGrid/03.jpg);
  background-size: cover;
  background-position: 0px -270px;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
}
.image-grid__rght-top {
}
.image-grid__rght-btm {
  display: flex;
}
.image-grid__rght-btm-lft {
  display: flex;
  align-items: end;
  width: 540px;
  height: 255px;
  background-image: url(/images/mainPage/imageGrid/01.jpg);
  background-size: cover;
  background-position: 0px -270px;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
}

.image-grid__rght-btm-rght {
  display: flex;
  align-items: end;
  width: 540px;
  height: 255px;
  background-image: url(/images/mainPage/imageGrid/04.jpg);
  background-size: cover;
  background-position: 0px -270px;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
} */

body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
.main-page {
  font-family: Nunito;
  background-color: #fcfaf8;
  max-width: 1140px;

  padding: 0 15px 0 15px;
}
.navbar {
  padding: 15px 0 15px 0;
  background-color: white;
}
.navbar__items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #1b1c20;
}

.logo__me {
  color: #f7b602;
}
.link-text {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.logo--footer {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.navbar__search {
  width: 25%;
  border-width: 0px;
  background-color: #eeeeee;
  border-radius: 37px;
}

.symbol-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.hero {
  display: flex;
  background-color: #1b1c20;
  justify-content: space-between;
  height: 680px;
}
.hero__left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: start;
}

.hero__btn-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 20px;
}

.hero__title {
  font-size: 56px;
  color: white;
  font-weight: 700;
  width: 100%;
}
.hero__btn {
  background-color: #f7b602;
  width: 230px;
  color: black;
  border-width: 0px;
  border-radius: 38px;
  height: 48px;
  justify-content: start;
}
.hero__right-part {
  width: 50%;
  background-image: url(/images/mainPage/titleImage.jpg);
  background-size: 150%;
  background-position: 100px -300px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.title {
  color: black;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__card-row {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}
.card__header {
  margin-bottom: 10px;
}
.symbol-text {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.card__text {
  font-size: 12px;
  color: #515151;
}
.card__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card__image img {
  position: absolute;
  object-fit: contain;
  width: auto;
  height: auto;
  top: -100px;
}
.card__title {
  font-size: 20px;
}
.card__title-author {
  margin-bottom: 10px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}
.middle-part__center {
  display: flex;
  flex-direction: column;
}

.image-grid {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
}
.image-grid__left-part {
  background-image: url(/images/mainPage/imageGrid/02.jpg);
  background-size: cover;
  background-position: -0px -200px;
  width: 50%;
  height: 540px;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}

.image-grid__text {
  color: black;
  width: fit-content;
  background-color: white;
  height: 35px;
  font-weight: 600;
  font-size: 26px;
  border-radius: 8px;
  padding: 0 10px 0 10px;
}

.--text-image-grid-is-middle-size {
  font-size: 19px;
}
.image-grid__right-part {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.image-grid__rght-top {
  background-image: url(/images/mainPage/imageGrid/03.jpg);
  background-size: cover;
  background-position: -0px -280px;
  width: 100%;
  height: 50%;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}
.image-grid__rght-btm {
  display: flex;
  column-gap: 30px;
}
.image-grid__rght-btm-rght {
  background-image: url(/images/mainPage/imageGrid/01.png);
  background-size: cover;
  background-position: -80px -20px;
  width: 50%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}
.image-grid__rght-btm-lft {
  background-image: url(/images/mainPage/imageGrid/04.png);
  background-size: cover;
  background-position: -0px -px;
  width: 50%;
  height: 255px;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}

.middle-part__bottom {
  background-color: #f7b602;
  height: 588px;
  padding: 0 30px 0 30px;
}

.card--bottom {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__image--bottom {
  background-image: url(/images/mainPage/ImageRowBottom/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-row__bottom {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.footer {
  align-items: center;
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.link-text--footer {
  color: white;
}

@media (max-width: 1140px) {
  .main-page {
    max-width: 970px;
  }

  .image-grid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
  }
  .image-grid__left-part {
    background-image: url(/images/mainPage/imageGrid/02.jpg);
    background-size: cover;
    background-position: -0px -100px;
    width: 50%;

    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }

  .image-grid__text {
    color: black;
    width: fit-content;
    background-color: white;
    height: auto;
    font-weight: 600;
    font-size: 26px;
    border-radius: 8px;
    padding: 0 10px 0 10px;
  }

  .--text-image-grid-is-middle-size {
    font-size: 15px;
  }
  .image-grid__right-part {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .image-grid__rght-top {
    background-image: url(/images/mainPage/imageGrid/03.jpg);
    background-size: cover;
    background-position: -0px -200px;
    width: 100%;
    height: 50%;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm {
    display: flex;
    column-gap: 30px;
  }
  .image-grid__rght-btm-rght {
    background-image: url(/images/mainPage/imageGrid/01.png);
    background-size: cover;
    background-position: -150px -20px;
    width: 50%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm-lft {
    background-image: url(/images/mainPage/imageGrid/04.png);
    background-size: cover;
    background-position: -0px -px;
    width: 50%;
    height: 255px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
}

@media (max-width: 992px) {
  .main-page {
    max-width: 750px;
  }
  .hero {
    display: flex;
    background-color: #1b1c20;
    justify-content: space-between;
    height: 680px;
  }
  .hero__left-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .hero__btn-title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
  }

  .hero__title {
    font-size: 56px;
    color: white;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  .hero__btn {
    background-color: #f7b602;
    width: 230px;
    color: black;
    border-width: 0px;
    border-radius: 38px;
    height: 48px;
    margin: auto;
  }
  .hero__right-part {
    width: 0%;
    background-image: none;
  }
  .top__card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .card {
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
  }
  .card__header {
    margin-bottom: 10px;
  }
  .symbol-text {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  .card__text {
    font-size: 12px;
    color: #515151;
  }
  .card__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .card__image img {
    position: absolute;
    object-fit: contain;
    width: auto;
    height: auto;
    top: -200px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__title-author {
    margin-bottom: 10px;
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
  }
  .image-grid {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
  }
  .image-grid__left-part {
    background-image: url(/images/mainPage/imageGrid/02.jpg);
    background-size: cover;
    background-position: -0px -150px;
    width: 50%;
    height: 300px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }

  .image-grid__text {
    color: black;
    width: fit-content;
    background-color: white;
    height: auto;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    padding: 0 10px 0 10px;
  }

  .--text-image-grid-is-middle-size {
    font-size: 15px;
  }
  .image-grid__right-part {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .image-grid__rght-top {
    background-image: url(/images/mainPage/imageGrid/03.jpg);
    background-size: cover;
    background-position: -0px -210px;
    width: 100%;
    height: 145px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm {
    display: flex;
    column-gap: 10px;
  }
  .image-grid__rght-btm-rght {
    background-image: url(/images/mainPage/imageGrid/01.png);
    background-size: cover;
    background-size: 180%;
    background-position: -90px -80px;
    width: 50%;
    height: 145px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm-lft {
    background-image: url(/images/mainPage/imageGrid/04.png);
    background-size: cover;
    background-position: -0px -px;
    width: 50%;
    height: 145px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-row__bottom {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
  }
  .card__image--bottom {
    background-image: url(/images/mainPage/ImageRowBottom/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .main-page {
    max-width: none;
  }
}
