.body-main-page {
  display: flex;
  justify-content: center;
}

.container-main-page {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main-page {
  font-family: Nunito;
  background-color: #fcfaf8;
  max-width: 1140px;
  padding: 0 15px 0 15px;
}
.navbar {
  padding: 15px 0 15px 0;
  background-color: white;
}
.navbar__items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #1b1c20;
}

.logo__me {
  color: #f7b602;
}
.link-text {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.logo--footer {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.navbar__search {
  width: 25%;
  border-width: 0px;
  background-color: #eeeeee;
  border-radius: 37px;
}

.symbol-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.hero {
  display: flex;
  background-color: #1b1c20;
  justify-content: space-between;
  height: 680px;
}
.hero__left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: start;
}

.hero__btn-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 20px;
}

.hero__title {
  font-size: 56px;
  color: white;
  font-weight: 700;
  width: 100%;
}
.hero__btn {
  background-color: #f7b602;
  width: 230px;
  color: black;
  border-width: 0px;
  border-radius: 38px;
  height: 48px;
  justify-content: start;
}
.hero__right-part {
  width: 50%;
  background-image: url(/images/mainPage/titleImage.jpg);
  background-size: 150%;
  background-position: 100px -300px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.title {
  color: black;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__card-row {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}
.card__header {
  margin-bottom: 10px;
}
.symbol-text {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.card__text {
  font-size: 12px;
  color: #515151;
}
.card__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card__image img {
  position: absolute;
  object-fit: contain;
  width: auto;
  height: auto;
  top: -100px;
}
.card__title {
  font-size: 20px;
}
.card__title-author {
  margin-bottom: 10px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}
.middle-part__center {
  display: flex;
  flex-direction: column;
}

.image-grid {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
}
.image-grid__left-part {
  background-image: url(/images/mainPage/imageGrid/02.jpg);
  background-size: cover;
  background-position: -0px -200px;
  width: 50%;
  height: 540px;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}

.image-grid__text {
  color: black;
  width: fit-content;
  background-color: white;
  height: 35px;
  font-weight: 600;
  font-size: 26px;
  border-radius: 8px;
  padding: 0 10px 0 10px;
}

.--text-image-grid-is-middle-size {
  font-size: 19px;
}
.image-grid__right-part {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.image-grid__rght-top {
  background-image: url(/images/mainPage/imageGrid/03.jpg);
  background-size: cover;
  background-position: -0px -280px;
  width: 100%;
  height: 50%;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}
.image-grid__rght-btm {
  display: flex;
  column-gap: 30px;
}
.image-grid__rght-btm-rght {
  background-image: url(/images/mainPage/imageGrid/01.png);
  background-size: cover;
  background-position: -80px -20px;
  width: 50%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}
.image-grid__rght-btm-lft {
  background-image: url(/images/mainPage/imageGrid/04.png);
  background-size: cover;
  background-position: -0px -px;
  width: 50%;
  height: 255px;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: end;
  border-radius: 8px;
}

.middle-part__bottom {
  background-color: #f7b602;
  height: 588px;
  padding: 0 30px 0 30px;
}

.card--bottom {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__image--bottom {
  background-image: url(/images/mainPage/ImageRowBottom/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-row__bottom {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.footer {
  align-items: center;
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.link-text--footer {
  color: white;
}

@media (max-width: 1140px) {
  .main-page {
    max-width: 970px;
  }

  .image-grid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
  }
  .image-grid__left-part {
    background-image: url(/images/mainPage/imageGrid/02.jpg);
    background-size: cover;
    background-position: -0px -100px;
    width: 50%;

    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }

  .image-grid__text {
    color: black;
    width: fit-content;
    background-color: white;
    height: auto;
    font-weight: 600;
    font-size: 26px;
    border-radius: 8px;
    padding: 0 10px 0 10px;
  }

  .--text-image-grid-is-middle-size {
    font-size: 15px;
  }
  .image-grid__right-part {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .image-grid__rght-top {
    background-image: url(/images/mainPage/imageGrid/03.jpg);
    background-size: cover;
    background-position: -0px -200px;
    width: 100%;
    height: 50%;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm {
    display: flex;
    column-gap: 30px;
  }
  .image-grid__rght-btm-rght {
    background-image: url(/images/mainPage/imageGrid/01.png);
    background-size: cover;
    background-position: -150px -20px;
    width: 50%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm-lft {
    background-image: url(/images/mainPage/imageGrid/04.png);
    background-size: cover;
    background-position: -0px -px;
    width: 50%;
    height: 255px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
}

@media (max-width: 992px) {
  .main-page {
    max-width: 750px;
  }
  .hero {
    display: flex;
    background-color: #1b1c20;
    justify-content: space-between;
    height: 680px;
  }
  .hero__left-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .hero__btn-title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
  }

  .hero__title {
    font-size: 56px;
    color: white;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  .hero__btn {
    background-color: #f7b602;
    width: 230px;
    color: black;
    border-width: 0px;
    border-radius: 38px;
    height: 48px;
    margin: auto;
  }
  .hero__right-part {
    width: 0%;
    background-image: none;
  }
  .top__card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .card {
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
  }
  .card__header {
    margin-bottom: 10px;
  }
  .symbol-text {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  .card__text {
    font-size: 12px;
    color: #515151;
  }
  .card__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .card__image img {
    position: absolute;
    object-fit: contain;
    width: auto;
    height: auto;
    top: -200px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__title-author {
    margin-bottom: 10px;
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
  }
  .image-grid {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
  }
  .image-grid__left-part {
    background-image: url(/images/mainPage/imageGrid/02.jpg);
    background-size: cover;
    background-position: -0px -150px;
    width: 50%;
    height: 300px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }

  .image-grid__text {
    color: black;
    width: fit-content;
    background-color: white;
    height: auto;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    padding: 0 10px 0 10px;
  }

  .--text-image-grid-is-middle-size {
    font-size: 15px;
  }
  .image-grid__right-part {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .image-grid__rght-top {
    background-image: url(/images/mainPage/imageGrid/03.jpg);
    background-size: cover;
    background-position: -0px -210px;
    width: 100%;
    height: 145px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm {
    display: flex;
    column-gap: 10px;
  }
  .image-grid__rght-btm-rght {
    background-image: url(/images/mainPage/imageGrid/01.png);
    background-size: cover;
    background-size: 180%;
    background-position: -90px -80px;
    width: 50%;
    height: 145px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-grid__rght-btm-lft {
    background-image: url(/images/mainPage/imageGrid/04.png);
    background-size: cover;
    background-position: -0px -px;
    width: 50%;
    height: 145px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: end;
    border-radius: 8px;
  }
  .image-row__bottom {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
  }
  .card__image--bottom {
    background-image: url(/images/mainPage/ImageRowBottom/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .main-page {
    max-width: none;
  }
}

body {
  background-color: #fcfaf8;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.typography {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.typography--grey {
  color: #575757;
}

.typography--title {
  font-size: 56px;
  font-weight: 700;
}

.typography--subtitle {
  font-size: 36px;
  font-weight: 600;
}
.typography--title-small {
  font-size: 26px;
  font-weight: 600;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.metrics {
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #515151;
}

.metrics-button:active {
  font-weight: bold !important;
}

.metrics-button:active .metrics-button__icon {
  font-weight: bold;
}

/* .material-symbols-outlined:active {
  font-weight: bold;
} */

.metrics--is-large {
  font-size: 20px;
}

/* .wrapper {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 100px;
} */

/* ---------------header----------------------------- */

.recipe-section {
  padding: 80px 0 100px 0;
}

.recipe-section__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recipe-section__author {
  font-size: 24px;
  font-weight: 600;
  color: #f7b602;
  text-decoration: none;
  cursor: pointer;
}

.recipe-section__content {
  display: flex;
  gap: 40px;
}
.recipe-section__image {
  min-height: 350px;
  max-height: 350px;
  width: 525px;
  min-width: 525px;
  overflow: hidden;
  border-radius: 10px;
}
.recipe-section__image img {
  object-fit: contain;
}

.recipe-section__text {
  display: flex;
  flex-direction: column;
}

.recipe-section__footer {
  display: flex;
  justify-content: space-between;
}

.recipe-section__likes-comments {
  max-width: 525px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.recipe-section__button {
  min-width: 210px;
}

.metrics-button {
  display: flex;
  align-items: top;
  border-width: 0px;
  background-color: transparent;
  font-size: 16px;
  color: grey;
  cursor: pointer;
  gap: 10px;
}

.metrics-button__label:active {
  font-weight: bold;
}

.metrics-button--is-small {
  font-size: 14px;
}

.metrics-button__text {
  font-size: 18px;
  font-family: nunito;
  vertical-align: middle;
}

.metrics-button__text--is-card {
  font-size: 14px;
}

.metrics-button:active {
  font-weight: bold;
}

button:active {
  font-weight: bold;
}

.metrics-button--large-size {
  font-size: 30px;
  background-color: #fcfaf8;
}

/* ---------------recepies----------------------------- */

.recepies-section__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-card {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 30px;
}
.recipe-card__image {
  min-width: 235px;
  width: 235px;
  min-height: 178px;
  height: 178px;
  overflow: hidden;
  border-radius: 10px;
}

.card-image {
  object-fit: contain;
}

.recipe-card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.recipe-card__title {
  font-size: 24px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.recipe-card__author {
  font-size: 12px;
  font-weight: 400;
  color: #626262;
  margin-bottom: 10px;
}
.recipe-card__text {
  font-size: 14px;
  color: #404040;
  margin-bottom: 10px;
  width: 100%;
}
.recipe-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.recepi-card__button {
  display: flex;
  width: 80px;
}

.recipe-card__metrics {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: end;
}

/* ---------------comments----------------------------- */

.comments-section__container {
  display: flex;
  flex-direction: column;
  padding: 100px 0px 80px 0;
}

.comments-section__post-form {
  margin-top: 40px;
}
.post-form {
  display: flex;
  gap: 15px;
}
.post-form__input-field {
  width: 100%;
}
.input-field {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  border-color: #e1e1e1;
  height: 48px;
  border-style: solid;
  padding: 0 15px;
  width: 100%;
}

.growing-textarea-field {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  border-color: #e1e1e1;
  height: 48px;
  border-style: solid;
  padding: 10px 15px;
  width: 100%;
  vertical-align: middle;
  min-height: 48px;
  font-size: 16px;
  color: grey;
  resize: none;
  overflow: hidden;
}

.post-form__button {
  width: 134px;
}
.button {
  background-color: inherit;
  height: 48px;
  border-radius: 10px;
  border-width: 0;
  padding: 0 15px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button--is-yellow {
  background-color: #f7b602;
  color: black;
}

.button--is-outlined {
  color: #f7b602;
  border-width: 1px;
  border-style: solid;
  border-color: #f7b602;
}

.comments-section__comments {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.comment {
  width: 100%;
  display: flex;
  gap: 15px;
}

.comment__image-button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

.comment__img {
  width: 76px;
  min-width: 76px;
  height: 76px;
  overflow: hidden;
  border-radius: 10px;
}

.comment__info {
  display: flex;
  gap: 15px;
  align-items: baseline;
}
.comment__author {
  color: #f7b602;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.comment__time {
  font-size: 12px;
  font-weight: 400;
  color: #7e7e7e;
}
.comment__text {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
}

/* ------------------welcome-page-------------------- */

.container__main-page {
  height: 100vh;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  background-image: url(/images/welcomePage.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 500px -40px;
  display: flex;
}

.input-section {
  padding: 70px;
  max-width: 555px;
  width: 555px;
  background-color: white;
  border-radius: 16px;
  max-height: fit-content;
}

.input-section__logo {
  margin-bottom: 30px;
}

.input-section__title {
  font-size: 32px;
}

.link {
  color: #f7b602;
  text-decoration: none;
}

.input-section__input-fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.input-section__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-field {
  display: flex;
  justify-content: space-between;
}
.input-section__button-link {
  height: 48px;
}
.button-link {
  display: flex;
  justify-content: center;
  background-color: #f7b602;
  color: black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

.input-section__password {
  display: flex;
  justify-content: space-between;
}
